Repository lucas-dclrcq/homelabitty, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/templates, area/terraform

fix(helm): update chart redpanda to 5.6.20
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.34.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.61.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.82.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/proxy/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.82.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/proxy/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/exportarr to v1.6.0
  kubernetes/apps/media/prowlarr/exporter/helmrelease.yaml
  kubernetes/apps/media/radarr/exporter/helmrelease.yaml
  kubernetes/apps/media/readarr/exporter/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/exporter/helmrelease.yaml
  kubernetes/apps/media/sonarr/exporter/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.34.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.61.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redpanda to 5.6.20
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image renovate/renovate to v37.27.1
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.3
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix(helm): update chart cilium to 1.14.3
  ansible/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redpanda to 5.6.21
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.5
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.35.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.5
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redpanda to 5.6.21
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.35.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.12
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.46
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.6
  kubernetes/apps/infrastructure/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redpanda to 5.6.22
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image node to v21
  docker/bitwarden-cli/Dockerfile
Labels: none

feat(container): update image renovate/renovate to v37.28.1
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image node to v21
  docker/bitwarden-cli/Dockerfile
Labels: none

feat(container): update image renovate/renovate to v37.28.1
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.46
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.12
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.6
  kubernetes/apps/infrastructure/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redpanda to 5.6.22
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lucas-dclrcq/bitwarden-cli to 7c7e41a
  kubernetes/apps/kube-system/external-secrets/webhooks/bitwarden/helmrelease.yaml
Labels: area/kubernetes

feat(renovate): manage grafana dashboards
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v6.0.2
  kubernetes/apps/media/recyclarr/app/helm-release.yaml
Labels: area/kubernetes

chore(deps): update dashboard redpanda ops dashboard to v2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart metallb to 0.13.12
  kubernetes/apps/networking/metallb/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redpanda to 5.6.25
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/templates:
  - "tmpl/**/*"
area/terraform:
  - "terraform/**/*"
