Repository lucas-dclrcq/homelabitty, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/templates, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/templates:
  - "tmpl/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update image renovate/renovate to v37.36.3
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/timberio/vector to v0.33.1
  kubernetes/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redpanda to 5.6.37
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes

feat(nodered): deploy
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/node-red/app/helmrelease.yaml
  kubernetes/apps/default/node-red/app/kustomization.yaml
  kubernetes/apps/default/node-red/ks.yaml
Labels: area/kubernetes

fix(nodered): fix permissions
  kubernetes/apps/default/node-red/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.8
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat: adjust resources for media & monitoring ns
  kubernetes/apps/media/bazarr/app/helm-release.yaml
  kubernetes/apps/media/flaresolverr/app/helm-release.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helm-release.yaml
  kubernetes/apps/media/readarr/app/helmrelease.yaml
  kubernetes/apps/media/slskd/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/seq/app/helmrelease.yaml
  kubernetes/apps/monitoring/seq/app/kustomization.yaml
  kubernetes/apps/monitoring/seq/ks.yaml
Labels: area/kubernetes

fix(descheduler): ignore master nodes when scheduling
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(seq): remove
  kubernetes/apps/monitoring/seq/app/helmrelease.yaml
  kubernetes/apps/monitoring/seq/app/kustomization.yaml
  kubernetes/apps/monitoring/seq/ks.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.8
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/matrix-org/synapse to v1.95.1
  kubernetes/apps/matrix/matrix-synapse/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart matrix-synapse to 3.7.10
  kubernetes/apps/matrix/matrix-synapse/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.37.0
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/matrix-org/synapse to v1.95.1
  kubernetes/apps/matrix/matrix-synapse/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart matrix-synapse to 3.7.10
  kubernetes/apps/matrix/matrix-synapse/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.37.0
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart redpanda to 5.6.38
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.3+k3s1
  ansible/inventory/group_vars/kubernetes/k3s.yml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/ansible, area/kubernetes

fix(helm): update chart loki to 5.36.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.84.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/proxy/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(deps): update @bitwarden/cli to 2023.10.0
  docker/bitwarden-cli/package.json
Labels: none

feat(container): update image homeassistant/home-assistant to v2023.11
  kubernetes/apps/default/homeassistant/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.33.2
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.42.0
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image linuxserver/readarr to 34509b0
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.6
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.33.2
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image homeassistant/home-assistant to v2023.11
  kubernetes/apps/default/homeassistant/app/helm-release.yaml
Labels: area/kubernetes

fix(deps): update @bitwarden/cli to 2023.10.0
  docker/bitwarden-cli/package.json
Labels: none

feat(container): update immich group to v1.84.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/proxy/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kyverno to v3.0.6
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.36.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image renovate/renovate to v37.42.0
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/lucas-dclrcq/bitwarden-cli to f96d1dc
  kubernetes/apps/kube-system/external-secrets/webhooks/bitwarden/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/filebrowser to v2.26.0
  kubernetes/apps/media/media-browser/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image elasticsearch to v8.10.4
  kubernetes/apps/infrastructure/elasticsearch/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart longhorn to 1.5.2
  kubernetes/apps/longhorn-system/longhorn/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.3
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes
