Repository lucas-dclrcq/homelabitty, pull requests merged in 2023-12, with the labels that each got.

#721 fix(helm): update chart matrix-synapse to 3.7.13
  kubernetes/apps/matrix/matrix-synapse/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm, category/apps

#722 fix(container): update image quay.io/keycloak/keycloak to v23.0.1
  kubernetes/apps/auth/keycloak/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch

#724 fix(helm): update chart grafana to 7.0.11
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#725 feat(helm): update chart loki to 5.39.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: type/minor, area/kubernetes, renovate/helm

#728 fix(container): update image docker.io/rancher/system-upgrade-controller to v0.13.2
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/system

#729 fix(container): update image ghcr.io/coder/code-server to v4.19.1
  kubernetes/apps/default/homeassistant/app/patches/addons.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#730 fix(github-release): update rancher/system-upgrade-controller to v0.13.2
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes, type/patch, renovate/github-release, category/system

#732 feat(ansible): update ansible.utils to 2.12.0
  ansible/requirements.yml
Labels: type/minor, renovate/ansible, area/ansible

#735 fix(helm): update chart emqx to 5.3.2
  kubernetes/apps/infrastructure/emqx/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#736 fix(container): update image nodered/node-red to v3.1.1
  kubernetes/apps/default/node-red/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#738 fix(helm): update chart redpanda to 5.6.52
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#741 fix(cocogitto): remove log colors
  kubernetes/apps/okno/cocogitto-bot/app/helm-release.yaml
Labels: area/kubernetes

#742 fix(cocogitto): gh private key typo
  kubernetes/apps/okno/cocogitto-bot/app/secret.sops.yaml
Labels: area/kubernetes

#743 feat(helm): update chart cert-manager-webhook-ovh to 0.5.2
  kubernetes/apps/cert-manager/addons/webhooks/ovh/helm-release.yaml
Labels: type/minor, area/kubernetes, renovate/helm

#744 feat(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.34.0
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes, category/apps

#747 feat(container): update image node to v21.3
  docker/bitwarden-cli/Dockerfile
Labels: type/minor, renovate/container

#746 feat(container): update image renovate/renovate to v37.81.0
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#745 fix(helm): update chart redpanda to 5.6.55
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#734 feat(ansible)!: Update ansible.utils to 3.0.0
  ansible/requirements.yml
Labels: type/major, renovate/ansible, area/ansible

#752 chore(container): update image ghcr.io/lucas-dclrcq/bitwarden-cli to 5be5ffb
  kubernetes/apps/kube-system/external-secrets/webhooks/bitwarden/helmrelease.yaml
Labels: renovate/container, area/kubernetes, category/system

#753 fix(container): update image ghcr.io/kube-vip/kube-vip to v0.6.4
  ansible/playbooks/templates/kube-vip-static-pod.yaml.j2
Labels: renovate/container, type/patch, area/ansible

#749 fix(github-release): update local-path-provisioner to v0.0.26
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/kubernetes, type/patch, renovate/github-release

#750 fix(container): update image renovate/renovate to v37.81.4
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#758 fix(helm): update chart influxdb2 to 2.1.2
  kubernetes/apps/infrastructure/influxdb/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#755 feat(container)!: Update image kube-prometheus-stack to v55
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/major

#754 fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.5.3813
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#756 feat(container): update image renovate/renovate to v37.83.0
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#759 feat(ansible): update community.general to 8.1.0
  ansible/requirements.yml
Labels: type/minor, renovate/ansible, area/ansible

#757 fix(helm): update chart redpanda to 5.6.56
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#762 fix(container): update image renovate/renovate to v37.83.3
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#761 fix(helm): update chart redpanda to 5.6.57
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#768 chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 0205e00
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, category/apps

#769 chore(container): update image ghcr.io/onedr0p/qbittorrent to ab8cc91
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, category/apps

#770 chore(container): update image ghcr.io/onedr0p/radarr-develop to 7794a25
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, category/apps

#771 chore(container): update image ghcr.io/onedr0p/sonarr-develop to f2040da
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, category/apps

#780 chore(container): update image linuxserver/readarr to c39c1fe
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, category/apps

#764 feat(container): update image renovate/renovate to v37.89.5
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#782 feat(container): update image kube-prometheus-stack to v55.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#777 fix(container): update image thanos to v12.16.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#783 feat(helm): update chart loki to 5.40.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: type/minor, area/kubernetes, renovate/helm

#776 feat(container): update image homeassistant/home-assistant to v2023.12
  kubernetes/apps/default/homeassistant/app/helm-release.yaml
Labels: type/minor, renovate/container, area/kubernetes, category/apps

#778 fix(container): update image nodered/node-red to v3.1.3
  kubernetes/apps/default/node-red/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#784 chore(container): update image ghcr.io/lldap/lldap to 14ce007
  kubernetes/apps/auth/lldap/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes

#788 fix(container): update image linuxserver/readarr to v0.3.11
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#787 feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.0.4128
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: type/minor, renovate/container, area/kubernetes, category/apps

#786 fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.6.3818
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#779 feat(container): update immich group to v1.90.2 (minor)
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes, category/apps

#775 fix(container): update image weave-gitops to v4.0.36
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#767 feat(container): update image node to v21.4.0
  docker/bitwarden-cli/Dockerfile
Labels: type/minor, renovate/container

#766 fix(helm): update chart redpanda to 5.6.60
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#765 fix(container): update image vectorim/element-web to v1.11.51
  kubernetes/apps/matrix/element/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#774 fix(deps): update @bitwarden/cli to 2023.12.0
  docker/bitwarden-cli/package.json
Labels: type/minor

#785 chore(deps): update xanmanning.k3s to v3.4.3
  ansible/requirements.yml
Labels: type/patch, area/ansible

#763 feat(helm)!: Update chart traefik to 26.0.0
  kubernetes/apps/networking/ingress-traefik/app/helmrelease.yaml
Labels: area/kubernetes, renovate/helm, type/major

#791 fix(container): update image renovate/renovate to v37.89.6
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#789 fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.1.4146
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#790 fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.4.8328
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#801 chore(container): update image ghcr.io/lucas-dclrcq/bitwarden-cli to dc74e4b
  kubernetes/apps/kube-system/external-secrets/webhooks/bitwarden/helmrelease.yaml
Labels: renovate/container, area/kubernetes, category/system

#802 chore(container): update image ghcr.io/onedr0p/qbittorrent to fedb621
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, category/apps

#803 chore(container): update image ghcr.io/onedr0p/sonarr-develop to 7f14968
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, category/apps

#792 fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.7.3849
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#806 feat(container): update image ghcr.io/matrix-org/synapse to v1.98.0
  kubernetes/apps/matrix/matrix-synapse/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes, category/apps

#807 fix(helm): update chart matrix-synapse to 3.7.14
  kubernetes/apps/matrix/matrix-synapse/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm, category/apps

#794 fix(helm): update chart grafana to 7.0.17
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#793 feat(container): update image renovate/renovate to v37.91.4
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#804 fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.734
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#800 fix(container): update image flaresolverr/flaresolverr to v3.3.11
  kubernetes/apps/media/flaresolverr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#799 fix(helm): update chart redpanda to 5.6.62
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#798 feat(container): update image redis to v18.5.0
  kubernetes/apps/infrastructure/redis/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#797 fix(helm): update chart cert-manager to v1.13.3
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#795 feat(container): update image kube-prometheus-stack to v55.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#796 feat(container): update image thanos to v12.17.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#817 chore(container): update image renovate/renovate to 0d81278
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes

#815 fix(container): update image miniflux/miniflux to v2.0.51
  kubernetes/apps/default/miniflux/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#808 feat(container): update image renovate/renovate to v37.98.1
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#811 fix(helm): update chart loki to 5.41.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#818 fix(container): update image elasticsearch to v8.11.3
  kubernetes/apps/infrastructure/elasticsearch/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#813 fix(helm): update chart telegraf to 1.8.39
  kubernetes/apps/infrastructure/telegraf/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#809 fix(helm): update chart reloader to 1.0.54
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm, category/system

#816 fix(helm): update chart redpanda to 5.6.63
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#810 feat(container): update image kube-prometheus-stack to v55.4.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#812 feat(container): update image thanos to v12.18.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#819 fix(container): update image quay.io/keycloak/keycloak to v23.0.2
  kubernetes/apps/auth/keycloak/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch

#825 fix(container): update image quay.io/keycloak/keycloak to v23.0.3
  kubernetes/apps/auth/keycloak/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch

#829 feat(container): update image kube-prometheus-stack to v55.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#826 fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.737
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#824 feat(container): update image renovate/renovate to v37.100.0
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#827 fix(helm): update chart loki to 5.41.4
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#834 chore(container): update image ghcr.io/lldap/lldap to 3be8e8a
  kubernetes/apps/auth/lldap/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes

#835 fix(container): update image ghcr.io/slskd/slskd to v0.19.2
  kubernetes/apps/media/slskd/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#830 fix(container): update image flaresolverr/flaresolverr to v3.3.12
  kubernetes/apps/media/flaresolverr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#839 feat(container): update image quay.io/thanos/thanos to v0.33.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#838 feat(container): update image ghcr.io/onedr0p/lidarr-develop to v2.1.0.3856
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes, category/apps

#833 fix(container): update image dock.mau.dev/mautrix/whatsapp to v0.10.5
  kubernetes/apps/matrix/matrix-whatsapp/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#832 fix(helm): update chart external-secrets to 0.9.10
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm, category/system

#836 fix(container): update image linuxserver/readarr to v0.3.12
  kubernetes/apps/media/readarr/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#837 fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.2.4160
  kubernetes/apps/media/prowlarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#831 feat(container): update image renovate/renovate to v37.102.0
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#840 fix(container): update image ghcr.io/slskd/slskd to v0.19.3
  kubernetes/apps/media/slskd/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#848 chore(container): update image renovate/renovate to d9bde4b
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes

#846 fix(helm): update chart redpanda to 5.6.64
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#844 fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.738
  kubernetes/apps/media/sonarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#843 fix(helm): update chart grafana to 7.0.19
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#842 fix(container): update image ghcr.io/slskd/slskd to v0.19.4
  kubernetes/apps/media/slskd/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#841 feat(container): update image renovate/renovate to v37.104.1
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#845 feat(container): update image thanos to v12.19.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#849 feat(container): update image redis to v18.6.0
  kubernetes/apps/infrastructure/redis/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#865 chore(container): update image eeshugerman/postgres-backup-s3 to e2a11b0
  kubernetes/apps/infrastructure/db-backups/app/immich.cronjob.yaml
  kubernetes/apps/infrastructure/db-backups/app/keycloak.cronjob.yaml
  kubernetes/apps/infrastructure/db-backups/app/miniflux.cronjob.yaml
  kubernetes/apps/infrastructure/db-backups/app/paperless.cronjob.yaml
Labels: renovate/container, area/kubernetes

#864 feat(helm): update chart emqx to 5.4.0
  kubernetes/apps/infrastructure/emqx/app/helmrelease.yaml
Labels: type/minor, area/kubernetes, renovate/helm

#856 fix(helm): update chart flagsmith to 0.22.3
  kubernetes/apps/infrastructure/flagsmith/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#855 feat(helm): update chart redpanda to 5.7.3
  kubernetes/apps/infrastructure/redpanda/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm

#857 fix(helm): update chart reloader to 1.0.56
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes, type/patch, renovate/helm, category/system

#851 fix(container): update image redis to v18.6.1
  kubernetes/apps/infrastructure/redis/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch

#850 fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.5.8361
  kubernetes/apps/media/radarr/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#852 feat(container): update image renovate/renovate to v37.107.0
  kubernetes/apps/infrastructure/renovate/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#853 feat(container): update image thanos to v12.20.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes

#858 fix(container): update image ghcr.io/dgtlmoon/changedetection.io to v0.45.9
  kubernetes/apps/default/changedetection/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes, type/patch, category/apps

#859 feat(container): update image node to v21.5.0
  docker/bitwarden-cli/Dockerfile
Labels: type/minor, renovate/container

#854 fix(deps): update @bitwarden/cli to 2023.12.1
  docker/bitwarden-cli/package.json
Labels: type/patch

#860 feat(container): update image docker.io/rancher/kubectl to v1.29.0
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: type/minor, renovate/container, area/kubernetes, category/system

#861 feat(container): update image ghcr.io/coder/code-server to v4.20.0
  kubernetes/apps/default/homeassistant/app/patches/addons.yaml
Labels: type/minor, renovate/container, area/kubernetes, category/apps

#863 feat(helm): update chart node-feature-discovery to 0.15.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: type/minor, area/kubernetes, renovate/helm, category/system

#870 chore(container): update image ghcr.io/lldap/lldap to 36695b2
  kubernetes/apps/auth/lldap/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes

#871 chore(container): update image ghcr.io/lucas-dclrcq/bitwarden-cli to 44d7464
  kubernetes/apps/kube-system/external-secrets/webhooks/bitwarden/helmrelease.yaml
Labels: renovate/container, area/kubernetes, category/system

#873 chore(container): update image ghcr.io/lucas-dclrcq/slskd-to-betanin-notifier to b13bcb0
  kubernetes/apps/media/slskd-to-betanin-notifier/app/helm-release.yaml
Labels: renovate/container, area/kubernetes, category/apps

#882 chore(container): update image ghcr.io/lldap/lldap to bc83804
  kubernetes/apps/auth/lldap/app/helmrelease.yaml
Labels: renovate/container, area/kubernetes
